---
layout: default
---

<header class="mediofondo"></header>

<!-- Page Content -->
<div class="container">
  <!-- /.row -->

  <div class="row">
    <div class="col-lg-12 page-header clientes">
      <h2>Medio Ambiente</h2>
    </div>
  </div>

  <div class="row contenido">
    <div class="col-md-5">
      <img
        class="img-responsive img-hover"
        src="images/medio-ambiente-big.jpg"
        alt=""
      />
    </div>
    <div class="col-md-6">
      <p>
        <b
          >&bull; Evaluaciones de impacto ambiental<br />&bull; Certificado ley
          provincial N° 105<br /></b
        ><br />En SAN JOSE ayudamos a nuestros clientes a gestionar el medio
        ambiente, dando respuesta a los desafíos existentes y evaluando las
        oportunidades de optimizar cada proceso de trabajo para minimizar el
        impacto de las actividades sobre el medio ambiente, además de cumplir
        con los requisitos legales cada vez más exigentes.
      </p>
      <a href="contacto.html" class="btn btn-success"
        ><b>SOLICITAR PRESUPUESTO AHORA</b></a
      >
    </div>
  </div>
  <div class="row detalles">
    <div class="col-md-6 col-sm-6">
      <div class="panel panel-default text-center img-hover">
        <div class="panel-body text-left">
          <h4>
            <i class="fa fa-check-circle" aria-hidden="true"></i> Consultoría
            Ambiental
          </h4>
          <hr />
          <ul>
            <li>Relevamientos e informes ambientales.</li>
            <li>Programas de gestión integral de residuos.</li>
            <li>Gestión de Efluentes líquidos y gaseosos.</li>
            <li>Estudio del Impacto Ambiental.</li>
            <li>Planes de contingencia y mitigación.</li>
            <li>Radicación y habilitación de industrias.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="panel panel-default text-center img-hover">
        <div class="panel-body text-left">
          <h4>&nbsp;</h4>
          <hr />
          <ul>
            <li>Inscripciones y renovaciones de certificados ambientales.</li>
            <li>Sistemas de Gestión Ambiental según norma ISO 14001/2004.</li>
            <li>Manual de buenas practicas.</li>
            <li>Ruido y vibraciones.</li>
            <li>Aparatos sometidos a presión.</li>
            <li>Bifenilos Poli Clorados (PCBs).</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row otros-servicios">
    <div class="col-lg-12">
      <h2>Otros Servicios</h2>
      <hr />
    </div>
    {% include otro-servicio.html href="higiene-y-seguridad.html" image="images/higiene-y-seguridad.jpg" title="Higiene y Seguridad"%}
    {% include otro-servicio.html href="seguridad-en-la-construccion.html" image="images/seguridad-en-la-construccion.jpg" title="Seguridad en la Construccion"%}
    {% include otro-servicio.html href="planes-de-evacuacion.html" image="images/planes-de-evacuacion.jpg" title="Planes de Evacuacion"%}
    {% include otro-servicio.html href="seguridad-para-servicios-de-salud.html" image="images/seguridad-para-servicios-de-salud.jpg" title="Seguridad para Servicios de Salud"%}
    <!--
    {% include otro-servicio.html href="medio-ambiente.html" image="images/medio-ambiente.jpg" title="Medio Ambiente"%}
    -->
  </div>
</div>
