/* GENERAL */

html,
body {
    height: 100%;
}

body {
    padding-top: 50px;
}

/* NAVBAR */

.navbar-brand>img{
    margin-top: -1.4em;
}

.navbar-default {
    border-color: transparent;
    background:rgba(9, 57, 99, 0.8);
    height: 90px;
}

.navbar-default .navbar-brand {
    font-family: 'Montserrat', sans-serif;
    color: #0f5ea1;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
    margin-top: -1em;
}

.navbar-collapse a{
    color: white;
}

.navbar-default .navbar-toggle {
    background-color: #0f5ea1;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #0f5ea1;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: white;
    background-color: rgba(0,0,0,0.3);
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #0f5ea1;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #0f5ea1;
}

.navbar-nav>li>.dropdown-menu{
    background-color: #0f5ea1;
}

.navbar-toggle{
    margin-right: -1em;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background:rgba(9, 57, 99, 0.8);
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }
}


/* CAROUSEL */

.carousel {
    height: 70%;
    margin-top: -3.8em;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.carousel-caption{
    top: 0px;
}

.intro-header {
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 180px;
    text-align: left;
}

.intro-message h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3.5em !important;
    font-weight: bold;
}

.intro-message h2 {
    font-size: 1.5em !important;
    line-height: 1.2em;
    font-weight: 500;
    letter-spacing: .04em;
    padding: 0.6em 0;
    width: 500px;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.btn-slider{
    background-color: #0099cf;
    color: white !important;
    font-size: 1.3em;
    border: transparent;
}

.btn-slider:hover{
    color: white!important;
    border: transparent;
    background-color: #0099cf!important;
}

.intro-message h2{
    font-size: 4.4em;
    margin-top: -0.2em;
}

/* IMAGENES */

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

.panel{
    border: none !important;
}

/* FONDOS */

.higienefondo{
    background-image:url('../images/higiene-y-seguridad-top.jpg');
}


.seguridadfondo{
    background-image:url('../images/seguridad-en-la-construccion-top.jpg');

}

.planesfondo{
    background-image:url('../images/planes-de-evacuacion-top.jpg');

}

.mediofondo{
    background-image:url('../images/medio-ambiente-top.jpg');

}

.saludfondo{
    background-image:url('../images/seguridad-para-servicios-de-salud-top.jpg');

}

.higienefondo, .seguridadfondo, .saludfondo, .planesfondo, .mediofondo{
    height: 200px;
    margin-top: -4em;
    background-size: cover;
}


/* PORQUE ELEGIRNOS */

.elegirnos h2{
    color: #0374ba;
}

.elegirnos img{
    margin: 1em 0 0 1em;
}

/* CLIENTES */

.clientes h2{
    color: #0374ba;
    margin-top: 0em;
}

.clientes p{
    font-size: 1.2em;
}

.tipo-de-cliente{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 2em;
}

.administradores{
    line-height: 1.5em;
    margin-bottom: 3em;
}

/* CONTACTO */

.form-style{
    margin-left: 2em;
}

.input-field{
    height: 1.8em !important;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:70%;
    width:100%;
    position:absolute;
}

/* SERVICIOS */

.breadcrumb{
    margin-top: -1em;
}

.contenido{
    margin-bottom: 2.5em;
}

.contenido p{
    margin-top: 1em;
}

.detalles h4{
    font-weight: bold;
    color: #075c90;
    font-size: 1.8em;
}

.detalles ul li{
    margin-left: -2em;
}

.detalles span{
    color: dimgray;
}

.otros-servicios{
    margin-bottom: 2em;
}

.otros-servicios h2{
    font-size: 1.6em;
}

/* FOOTER */

footer{width:100%; height:100px; background-color:rgba(9, 57, 99, 0.8); color:white;}

.p-footer{
    margin-top: 1em;
}

footer a{
    color: white;
}

footer a:hover{
    color: azure;
}


/* RESPONSIVE */
@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .carousel-caption{
        top: 120px !important;
    }

    .carousel {
        height: 450px !important;
    }

    .intro-message {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .intro-message h1 {
        font-size: 2em !important;
    }

    .intro-message h2 {
        font-size: 1.2em !important;
        line-height: 1.2em;
        margin-top: 0.2em;
        width: 100%;
    }

    .intro-divider {
        width: 100%;
    }

    .btn-slider{
        font-size: 1em;
        margin-top: 0em;
    }

    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .nono{
        display: none !important;
    }

    .btn-marginbottom{
        margin-bottom: 2em;
    }

    /* FONDOS */
    .clientesfondo, .contactofondo, .higienefondo, .seguridadfondo, .consorciosfondo, .planesfondo, .mediofondo{
        height: 100px;
    }

    /* NAVBAR */
     .navbar-brand{
        width: 100%;
        margin-top: -3em;
    }

    .navbar-brand img{
        margin: 0 auto;
        text-align: center;
        margin-top: 0em !important;
    }
    .navbar-collapse{
        background:rgba(9, 57, 99, 0.8);
        margin-top: 4em;
    }

}

#servicios:before {
    height: 90px;
    content: "";
    display:block;
}
#empresa:before {
    height: 90px;
    content: "";
    display:block;
}
#contacto:before {
    height: 90px;
    content: "";
    display:block;
}
