<footer>
    <div class="row text-center">
        <div class="col-lg-12">
            <p class="p-footer"><i class="fa fa-envelope" style="margin-right:10px;"></i> info@arsem.com.ar <i
                    class="fa fa-phone" style="margin-right:10px; margin-left:10px;"></i> 011 5238-2578 <i
                    class="fa fa-map-marker" style="margin-right:10px; margin-left:10px;"></i> Cucha Cucha 2220,
                CABA.</p>

            <p><span style="font-size:.8em;">SEGUINOS EN</span><a href="https://twitter.com/arsem_arg"
                    target="_blank"><i class="fa fa-twitter" style="margin-right:.5em; margin-left:.5em;"></i></a><a
                    href="https://www.facebook.com/ARSEM-1640468696203803/?fref=ts" target="_blank"><i
                        class="fa fa-facebook" style="margin-right:.5em;"></i></a><a
                    href="http://instagram.com/arsem_arg/" target="_blank"><i class="fa fa-instagram"></i></a></p>
        </div>
    </div>
</footer>
