<header id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for Slides -->
  <div class="carousel-inner">
    <div class="item active">
      <!-- Set the first background image using inline CSS below. -->
      <div class="fill" style="background-image:url('images/slider1.jpg');"></div>
      <div class="carousel-caption">
        <div class="intro-message">
          <h1 class="wow fadeIn" data-wow-delay=".1s">Seguridad e Higiene</h1>
          <h2 class="wow fadeIn" data-wow-delay=".1s">Brindamos servicio externo, Consultoría Técnica y
            Atención Personalizada.</h2>
          <ul class="list-inline intro-social-buttons wow flipInY" data-wow-delay=".5s">
            <li>
              <a href="higiene-y-seguridad.html" class="btn btn-slider page-scroll button hvr-icon-hang hvr-hang"><span
                  class="network-name">Conocé más</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="item">
      <!-- Set the first background image using inline CSS below. -->
      <div class="fill" style="background-image:url('images/slider2.jpg');"></div>
      <div class="carousel-caption">
        <div class="intro-message">
          <h1 class="wow fadeIn" data-wow-delay=".1s">Seguridad en la Construcción</h1>
          <h2 class="wow fadeIn" data-wow-delay=".1s">Realizamos Programas de Seguridad, Firma de Planos
            Ley 4497 y Técnicos en obra.</h2>
          <ul class="list-inline intro-social-buttons wow flipInY" data-wow-delay=".7s">
            <li>
              <a href="seguridad-en-la-construccion.html"
                class="btn btn-slider page-scroll button hvr-icon-hang hvr-hang"><span class="network-name">Conocé
                  más</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="item">
      <!-- Set the first background image using inline CSS below. -->
      <div class="fill" style="background-image:url('images/slider4.jpg');"></div>
      <div class="carousel-caption">
        <div class="intro-message">
          <h1 class="wow fadeIn" data-wow-delay=".1s">Planes de Evacuación</h1>
          <h2 class="wow fadeIn" data-wow-delay=".1s">Trámites Ley 1346 GCBA y Provinciales, Planos de
            Evacuacion y Presentación en Defensa Civil</h2>
          <ul class="list-inline intro-social-buttons wow zoomInRight" data-wow-delay=".7s">
            <li>
              <a href="planes-de-evacuacion.html" class="btn btn-slider page-scroll button hvr-icon-hang hvr-hang"><span
                  class="network-name">Conocé más</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>

</header>
