<header id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for Slides -->
  <div class="carousel-inner">
    <div class="item active">
      <!-- Set the first background image using inline CSS below. -->
      <div class="fill" style="background-image:url('/images/higiene-y-seguridad-slider.jpg');"></div>
      <div class="carousel-caption">
        <div class="intro-message">
          <h1 class="wow fadeIn" data-wow-delay=".1s">Higiene y Seguridad</h1>
          <h2 class="wow fadeIn" data-wow-delay=".1s">Brindamos servicio externo, Consultoría Técnica y
            Atención Personalizada.</h2>
          <ul class="list-inline intro-social-buttons wow flipInY" data-wow-delay=".5s">
            <li>
              <a href="/higiene-y-seguridad/" class="btn btn-slider page-scroll button hvr-icon-hang hvr-hang"><span
                  class="network-name">Conocé más</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="item">
      <!-- Set the first background image using inline CSS below. -->
      <div class="fill" style="background-image:url('/images/seguridad-en-la-construccion-slider.jpg');"></div>
      <div class="carousel-caption">
        <div class="intro-message">
          <h1 class="wow fadeIn" data-wow-delay=".1s">Seguridad en la Construcción</h1>
          <h2 class="wow fadeIn" data-wow-delay=".1s">Realizamos Programas de Seguridad, Decreto 911/96 y Aviso inicio de obra.</h2>
          <ul class="list-inline intro-social-buttons wow flipInY" data-wow-delay=".7s">
            <li>
              <a href="/seguridad-en-la-construccion/"
                class="btn btn-slider page-scroll button hvr-icon-hang hvr-hang"><span class="network-name">Conocé
                  más</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="item">
      <!-- Set the first background image using inline CSS below. -->
      <div class="fill" style="background-image:url('/images/control-de-incendios-slider.jpg');"></div>
      <div class="carousel-caption">
        <div class="intro-message">
          <h1 class="wow fadeIn" data-wow-delay=".1s">Control de Incendios</h1>
          <h2 class="wow fadeIn" data-wow-delay=".1s">Carga de fuego, Redes de hidrantes, Sistemas electrónicos de detección
            y Sistemas automáticos de extinción con agentes limpios</h2>
          <ul class="list-inline intro-social-buttons wow zoomInRight" data-wow-delay=".7s">
            <li>
              <a href="/control-de-incendios/" class="btn btn-slider page-scroll button hvr-icon-hang hvr-hang"><span
                  class="network-name">Conocé más</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="item">
      <!-- Set the first background image using inline CSS below. -->
      <div class="fill" style="background-image:url('/images/seguridad-para-servicios-de-salud-slider.jpg');"></div>
      <div class="carousel-caption">
        <div class="intro-message">
          <h1 class="wow fadeIn" data-wow-delay=".1s">Seguridad en Servicios de Salud</h1>
          <h2 class="wow fadeIn" data-wow-delay=".1s">Bioseguridad, Residuos patológicos, Radiaciones ionizantes,
            Medicación citotóxica, Gases medicinales y anestésicos, y mas.
        </h2>
          <ul class="list-inline intro-social-buttons wow zoomInRight" data-wow-delay=".7s">
            <li>
              <a href="/seguridad-para-servicios-de-salud/" class="btn btn-slider page-scroll button hvr-icon-hang hvr-hang"><span
                  class="network-name">Conocé más</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="item">
      <!-- Set the first background image using inline CSS below. -->
      <div class="fill" style="background-image:url('/images/medio-ambiente-slider.jpg');"></div>
      <div class="carousel-caption">
        <div class="intro-message">
          <h1 class="wow fadeIn" data-wow-delay=".1s">Medio Ambiente</h1>
          <h2 class="wow fadeIn" data-wow-delay=".1s">Evaluaciones de impacto ambiental y Certificado ley provincial N° 105</h2>
          <ul class="list-inline intro-social-buttons wow zoomInRight" data-wow-delay=".7s">
            <li>
              <a href="/medio-ambiente/" class="btn btn-slider page-scroll button hvr-icon-hang hvr-hang"><span
                  class="network-name">Conocé más</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="/#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="/#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>

</header>
