<div class="container" id="contacto">
  <div class="row">
    <div class="col-lg-12 page-header clientes">
      <h2 class="text-center">Contacto</h2>
    </div>

    <div class="col-md-12">

      <div class="row">
        <div class="col-md-6 map-responsive">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2410814.3291973947!2d-69.1059532392461!3d-53.83733458167107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbc4c22cfd9432921%3A0x80ee54358cf0d88d!2sTierra%20del%20Fuego!5e0!3m2!1ses!2sar!4v1579798898866!5m2!1ses!2sar"
            width="400" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <div class="col-md-4">
          <div class="form-style" id="contact_form">
            <div id="contact_results"></div>
            <div id="contact_body">
              <div class="form-group">
                <label>Nombre y Apellido: *</label>
                <input type="text" name="name" id="name" required class="input-field form-control" />
              </div>
              <div class="form-group">
                <label>E-Mail: *</label>
                <input type="email" name="email" required class="input-field form-control" />
              </div>
              <div class="form-group">
                <label>Teléfono:</label>
                <input type="email" name="phone" class="input-field form-control" />
              </div>
              <div class="form-group">
                <label>Mensaje: *</label>
                <textarea name="message" id="message" class="textarea-field form-control" required
                  placeholder="Escribe aquí en qué podemos ayudarte..."></textarea>
              </div>
              <div class="form-group">
                <input type="submit" id="submit_btn" value="Enviar!"
                  class="btn btn-primary btn-big button hvr-shrink" />
              </div>
              <p style="font-size:10px; color:gray;">* Campos obligatorios.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
