<div class="row elegirnos">
  <div class="col-md-6">
    <h2>¿Porqué elegirnos?</h2>
    <p>
      La propuesta es colaborar con el cliente en la identificación y análisis de sus necesidades, asesorándolo en la búsqueda
      de soluciones eficientes y eficaces para reducir su siniestralidad, controlar sus pérdidas, optimizar sus
      procesos, y mejorar la conducta y el desempeño de su personal.
      <br>
      <br> Ofrecemos un servicio con real
      <strong>PRESENCIA</strong> en los lugares de trabajo y contacto fluido con la Gerencia de Planta.
      <br>
      <br> Trabajamos para mejorar las condiciones de trabajo de nuestros semejantes, previniendo los problemas de
      salud y accidentes que puedan causar sufrimiento e incapacidad a las personas.
      <br>
      <br> Orientamos nuestros esfuerzos a comprender sus necesidades brindando
      <strong>atención personalizada</strong> y adaptando nuestro servicio a los requerimientos de su empresa.
    </p>
  </div>
  <div class="col-md-5">
    <img src="images/porque-elegirnos.jpg" class="img-responsive" />
  </div>
</div>
