    <!-- Intro Content -->
    <div class="row elegirnos">
        <div class="col-md-6">
            <h2>¿Porqué elegirnos?</h2>
            <p><b>ARSEM</b> es una empresa que desde la especialización dedica su conocimiento y experiencia a la
                mejora continua de la Gestión de Riesgos Laborales y Ambientales ofreciendo la mejor respuesta
                adaptada a las necesidades particulares de cada cliente.</p>
            <p>Contamos con un equipo altamente capacitado y enfoque proactivo, intentando diferenciar nuestro
                producto por el mejor Servicio, Calidad e Innovación, ayudando a nuestros clientes a proteger la
                fuerza de trabajo y cuidar el medio ambiente, y al mismo tiempo cumplir con los requisitos legales
                en la material.</p>
        </div>
        <div class="col-md-5">
            <img src="images/seguridad-en-la-construccion-big.jpg" class="img-responsive">
        </div>
    </div>
