<div class="row" id="servicios">
  <div class="col-lg-12">
    <h2 class="page-header text-center" style="color:#0374ba;">
      Nuestros Servicios
    </h2>
  </div>
  {% include "index/servicio.html"
    h1:"HIGIENE"
    h2:"y Seguridad"
    href:"/higiene-y-seguridad/"
    img:"/images/higiene-y-seguridad-big.jpg"
    p:"Proveemos un servicio totalmente adaptado a las necesidades de nuestros
    clientes. Nuestros profesionales se encuentran altamente capacitados tanto
    para la gestión integral del servicio como para el apoyo a la gestión
    interna de la empresa."
  %}
  {% include "index/servicio.html"
    h1:"SEGURIDAD"
    h2:"en la Construcción"
    href:"/seguridad-en-la-construccion/"
    img:"/images/seguridad-en-la-construccion-big.jpg"
    p:"Proveemos servicios correspondientes a Programas de Seguridad en la
    construcción, segun el Decreto 911/96 y aviso de obra. "
  %}
  {% include "index/servicio.html"
    h1:"CONTROL"
    h2:"de Incendios"
    href:"/control-de-incendios/"
    img:"/images/control-de-incendios-big.jpg"
    p:"En SAN JOSE brindamos un servicio Integral para la prevención, detección,
    y extinción de incendios. El Plan es de aplicación obligatoria en edificios,
    tanto públicos como privados, oficinas, escuelas, y en todos aquellos
    establecimientos que brindan atención al público."
  %}
  {% include "index/servicio.html"
    h1:"SEGURIDAD"
    h2:"en Servicios de Salud"
    href:"/seguridad-para-servicios-de-salud/"
    img:"/images/seguridad-para-servicios-de-salud-big.jpg"
    p:"Damos servicios especializados para centros de salud. Brindamos servicios
    de bioseguridad, residuos patológicos, radiaciones ionizantes, medicación
    citotóxica..."
  %}
  {% include "index/servicio.html"
    h1:"MEDIO"
    h2:"AMBIENTE"
    href:"/medio-ambiente/"
    img:"/images/medio-ambiente-big.jpg"
    p:"Ayudamos a nuestros clientes a gestionar el medio ambiente, dando
    respuesta a los desafíos existentes y evaluando las oportunidades de optimizar
    cada proceso..."
  %}
  {% include "index/servicio.html"
    h1:"ESTUDIO"
    h2:"de Ergonomía"
    href:"/estudio-de-ergonomia/"
    img:"/images/estudio-de-ergonomia-big.jpg"
    p:"Proveemos servicios con el objetivo de conseguir una adaptación
    satisfactoria de las condiciones de trabajo a las características físicas y
    psíquicas del trabajador..."
  %}
</div>
