    <!-- Service Panels -->
    <div class="row" id="empresa">
        <div class="col-lg-12">
            <h2 class="page-header text-center" style="color:#0374ba;">Nuestros Valores</h2>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="panel panel-default text-center img-hover">
                <div class="panel-body text-left">
                    <h4 style="color:#a2a9ad; font-size:2em; font-weight:300;"><i class="fa fa-check-circle"
                            aria-hidden="true"></i> Calidad</h4>
                    <hr>
                    <p>En <strong>SAN JOSE</strong> tendemos a diferenciar nuestros servicios aportando valor al cliente a través de la
                        gestión profesional de todas nuestras actividades.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="panel panel-default text-center img-hover">
                <div class="panel-body text-left">
                    <h4 style="color:#a2a9ad; font-size:1.8em; font-weight:300;"><i class="fa fa-users"
                            aria-hidden="true"></i> Atención al Cliente</h4>
                    <hr>
                    <p>Nuestros clientes son lo más importante, por eso orientamos nuestros esfuerzos a comprender
                        sus necesidades brindando atención personalizada y adaptando nuestro servicio a los
                        requerimientos de su empresa.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="panel panel-default text-center img-hover">
                <div class="panel-body text-left">
                    <h4 style="color:#a2a9ad; font-size:2em; font-weight:300;"><i class="fa fa-lightbulb-o"
                            aria-hidden="true"></i> Innovación</h4>
                    <hr>
                    <p>Nos comprometemos a mejorar la prestación de nuestros servicios, buscando nuevos métodos para
                        obtener mejores resultados, manteniéndonos al día con las legislaciones y normativas
                        nacionales e internacionales.</p>
                </div>
            </div>
        </div>
    </div>
