<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Boilerplate -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- Description -->
    <title>{{ site.title }}</title>
    <meta name="author" content="{{ site.empresa }}" />
    <meta name="description" content="{{ site.description }}" />
    <!-- CSS -->
    <link href="{{ site.css.bootstrap }}" rel="stylesheet" />
    <link href="{{ site.css.font-awesome }}" rel="stylesheet" type="text/css" />
    <link href="{{ site.css.font }}" rel="stylesheet" type="text/css" />
    <link href="styles.css" rel="stylesheet" />
  </head>

  <body id="inicio">
    {% include _nav.html %}
    {{ content }}
    {% include _footer.html %}
    {% include _whatsapp.html %}
    <script src="{{ site.js.jquery }}"></script>
    <script src="{{ site.js.bootstrap }}"></script>
    <script>
      $(".carousel").carousel({
        interval: 5000,
      });
    </script>
    <!-- Fix: This is only for index.html -->
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
